<html xmlns:th="https://thymeleaf.org">  
   <head></head>
   <body>
       <div class="container">
            <div align="center"><img height="80" width="600" th:src="*{logo}" alt="Sign"/></div>
            <div class="row">
            <div align="center">   <h2 th:utext="${head1}"></h2></div>
               <p><mark th:utext="${body1}"></mark></p>
                <span class="col-md-3" style="float:right">
                   <img th:src="*{s1}" alt="Sign"/>
               </span>
               <div class="col-md-9" th:utext="${item1}"></div>
           </div>
            <div class="row">
               <h2 th:utext="${head2}"></h2>
               <p th:utext="${body2}"></p>
               <div class="col-md-3"  style="float:right">
                   <img th:src="*{s2}" alt="Sign" />
               </div>
               <div class="col-md-9" th:utext="${item2}"></div>
           </div>
            <div class="row">
               <h2 th:utext="${head3}"></h2>
               <p th:utext="${body3}"></p>
                <div class="col-md-3" style="float:right">
                   <img th:src="*{s3}" alt="Sign"/>
               </div>
               <div class="col-md-9" th:utext="${item3}"></div>
           </div>
           <div class="row" align="center">
               <div align="center">
                  <span> <img th:src="*{s4}" alt="Sign"/></span>
               </div>
           </div>
           <div class="row" align="center">
                  <span>Guardian Name: </span><span style="margin-top: 10px; font-weight='bold'" th:text="${name} " ></span>
          </div>
       </div>
   </body>
</html>

